.banner {
    min-height: 105vh;
    width: 100vw;
    display: flex;
    
    position: relative;
    width: 100vw;

    z-index: 0;

    & .container {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        width: 100vw;
        gap: 5.5vw;
    }

    & .header {
        width: 18vw;
    }

    & p {
        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
        text-align: center;
       

        &::after {
            content: ' ';
            width: 6px;
            height: 135px;
            display: block;
            background-image: url('../../assets/arrow-6.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    & .background {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-49%, -50.5%);
        width: 90vw;
        opacity: 0.2;
   
    }

    & .canvas {
        max-width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        top:30%;

        & .blob:first-child {
            width: 50vw;
            position: absolute;
            height: 54vw;
            background: #8D53FC;
            border-radius: 28%;
            filter: blur(100px);
            rotate: 90deg;
            top: 3%;
            left: 64vw;
            z-index: -20;
        }

        & .blob:nth-child(2){
            width: 50vw;
            position: absolute;
            height: 51vw;
            background: #8D53FC;
            border-radius: 20%;
            filter: blur(100px);
            rotate: 103deg;
            top: 31%;
            left: -15vw;
            z-index: -10;
            max-height: 1000px;
        
        }
        & .blob:nth-child(3){
            width: 100vw;
            position: absolute;
            height: 46vw;
            background: #8D53FC;
            border-radius: 120%;
            filter: blur(50px);
            rotate: 145deg;
            top: 36%;
            left: -2vw;
            max-height: 500px;
            animation: clouds 6s ease infinite;
        }

        & .blob:nth-child(4){
            background: #7242FA;
            width: 95vw;
            position: absolute;
            height: 28vw;
            border-radius: 120%;
            filter: blur(80px);
            rotate: 149deg;
            top: 50%;
            left: 18vw;
            animation: clouds 6s ease infinite;
        }

        & .blob:nth-child(5){
            background: #7242FA90;
            width: 74vw;
            position: absolute;
            height: 44vw;
            border-radius: 120%;
            filter: blur(50px);
            rotate: 214deg;
            top: 34%;
            left: -32vw;
            animation: clouds 6s ease infinite;
        }
    }
}

@keyframes clouds {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.6);
    }

    100% {
        transform: scaleY(1);
    }
}

@media (max-width:960px) {
    .banner {
        & .header {
            width: 44vw;
        }
    
        & p {
            height: 9vw;
            width: 231px;
        }

        & .background {
            width: 176vw;
        }

        & .container {
            gap:6vw;
        }
    }
}