.indended {
    text-align: start;
    padding: 0 clamp(0.9375rem, -1.8841rem + 12.0388vw, 12.5625rem);
    margin-top: clamp(4rem, 2.5437rem + 6.2136vw, 10rem);

    & .header {
        font-size: clamp(2.5rem, 1.6505rem + 3.6246vw, 6rem);
        font-family: Poppins;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0%;
        color:#222222
    }

    & .content {
        font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
        font-family: Inter;
        color: #6c6c6c;
        font-weight: 300;
        letter-spacing: 0%;
        margin-top: 32px;
        
    }


    & .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:24px;
        margin-top: clamp(2.5rem, 1.8932rem + 2.589vw, 5rem);
        
        & .card {
            padding: 24px;
            border: 1px #cacaca solid;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap:10px;

            & .cardHeader {
                font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
                font-family: Poppins;
                color: #222222;
                font-weight: 400;
                letter-spacing: 0%;
            }

            & .cardBody {
                font-size: clamp(0.8125rem, 0.767rem + 0.1942vw, 1rem);
                font-family: Inter;
                color: #6c6c6c;
                font-weight: 300;
                letter-spacing: 0%;
            }

            & .cardNumber {
                font-size: clamp(0.8125rem, 0.767rem + 0.1942vw, 1rem);
                font-family: Inter;
                color: #cacaca;
                font-weight: 300;
                letter-spacing: 0%;
            }

            &:last-child {
                position: relative;
                background: linear-gradient(130deg,rgba(255, 255, 255, 1) 66%, rgba(151, 103, 254, 1) 100%);
                overflow: hidden;
                border:none;

                & * {
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: ' ';
                    display: block;
                    height: 100%;
                    width: 80%;
                    background: #9767FE;
                    border-radius: 30%;
                    filter: blur(50px);
                    position: absolute;
                    left:10%;
                    bottom:-80%;
                    z-index: 0;
                }
            }
        }
    }

    & .contact {
        display: flex;
        align-items: center;
        margin-top: clamp(2rem, 1.2718rem + 3.1068vw, 5rem);
        gap:24px;

        & .link {
            font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
            font-family: Inter;
            color: #ffffff;
            font-weight: 300;
            letter-spacing: 0%;
            background: #222222;
            border-radius: 57px;
            padding: 16px 40px;
            text-decoration: none;
            padding: 11px 67px;
        }
    }

    
}

@media (max-width:960px) {
    .indended {
        & .cards {
            grid-template-columns: 1fr;

            & .card {
                padding: 20px;
                gap:8px;
            }
        }

        & .link {
            padding: 7px 55px;
        }

        

        & .contact {
            & svg {
                width: 39px;
            }
        }
    }
}