.header {
    font-size: clamp(2.5rem, 1.165rem + 5.6958vw, 8rem);
    font-family: Poppins;
    color: #222222;
    font-weight: 400;
    line-height: 138px;
    letter-spacing: 0%;
    text-align: start;
}

.content {
    font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
    font-family: Inter;
    color: #260e71;
    font-weight: 300;
    letter-spacing: 0%;
    width: 35vw;
    margin-top: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
}

.cards {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: clamp(2.5rem, 2.0146rem + 2.0712vw, 4.5rem);
}

.card {
    padding: 1rem;
    background: linear-gradient(150deg,rgba(255, 255, 255, 1) 65%, rgba(151, 103, 254, 1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    justify-content: space-between;

    &::after {
        content: ' ';
        display: block;
        position: absolute;
        width: 70%;
        bottom: -20%;
        left:-10%;
        height: 35%;
        border-radius: 50%;
        background-color: rgba(151, 103, 254, 1);
        filter: blur(70px);
    }

    & .cardHeader {
        font-size: clamp(2rem, 1.5146rem + 2.0712vw, 4rem);;
        font-family: Poppins;
        color: #222222;
        font-weight: 400;
        letter-spacing: 0%;
        width: 100%;
        border-bottom: 1px solid #000;
        margin-bottom: clamp(0.9375rem, 0.71rem + 0.9709vw, 1.875rem);;
        padding-bottom: clamp(0.9375rem, 0.71rem + 0.9709vw, 1.875rem);;;
    }

    & .cardContent {
        font-size: clamp(0.8125rem, 0.7063rem + 0.4531vw, 1.25rem);
        font-family: Inter;
        color: #6c6c6c;
        font-weight: 300;
        letter-spacing: 0%;
    }

    & .arrow {
        display: flex;
        justify-content: end;
    }
}

.explore {
    padding: 0 clamp(0.9375rem, -1.8841rem + 12.0388vw, 12.5625rem);
    text-align: start;
}


@media (max-width:960px) {
    .cards {
        grid-template-columns: 1fr;
    }
    
    .content {
        width: 100%;
    }

    .cards {
        & svg {
            width: 40px;
        }
    }
}