@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#root {

  text-align: center;
}

html {
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 20%);
}

body {
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 20%);
}

.mainContainer {
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
  background:linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(114, 66, 250, 1) 51%, rgba(119, 73, 248, 1) 60%, rgba(255, 255, 255, 1) 81%)
}

.downContainer {
  max-width: 100vw;
  overflow: hidden;
  height: 100%;
}

@media(max-width:960px) {
  .mainContainer {
    background:linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(114, 66, 250, 1) 51%, rgba(119, 73, 248, 1) 51%, rgba(255, 255, 255, 1) 59%);
  }
}


